#kmmbody {
    color: #73879C;
    background: #2A3F54;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471
}
.main_content {
    padding: 10px 20px
}
.map-container{
    margin-top: 20px;
}