<div class="right_col container" role="main">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Distance-based Query </div>
                <div class="panel-body">
                    <div map="map" stations="stations" stations-map-view ng-if="data"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Current Usage</div>
                <div class="panel-body">
                    <div ng-if="data" stations="stations" doughnut-chart></div>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Minute Wise Usage</div>
                <div class="panel-body">
                    <div ng-if="data" stations="stations" minute-wise-usage></div>
                </div>
            </div>
        </div>
    </div>
</div>
